In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
# Display portion of purchase_data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Display the total number of players
total_players = len(purchase_data["SN"].unique())
total_players_df = pd.DataFrame([{"Total Players": total_players}])
total_players_df

   Total Players
0            576

In [4]:
# Run basic calculations to obtain number of unique items, average price, etc.
# Create a summary data frame to hold the results
number_of_unique_items = len(purchase_data["Item ID"].unique())
total_revenue = purchase_data["Price"].sum()
number_of_purchases = len(purchase_data["Purchase ID"].unique())
average_price = (total_revenue / number_of_purchases)

purchasing_analysis_df = pd.DataFrame([{"Number of Unique Items": number_of_unique_items,
                                       "Average Price": average_price,
                                       "Number of Purchases": number_of_purchases,
                                       "Total Revenue": total_revenue}])
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [5]:
# Check the data types of each column variable
purchasing_analysis_df.dtypes

Number of Unique Items      int64
Average Price             float64
Number of Purchases         int64
Total Revenue             float64
dtype: object

In [6]:
# Optional: give the displayed data cleaner formatting
# Display the summary data frame
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,}".format)
purchasing_analysis_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [7]:
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed
gender_grouped = purchase_data.groupby("Gender")
gender_count = gender_grouped["SN"].nunique()
gender_percentage = (gender_count / total_players) * 100
gender_demographics_df = pd.DataFrame({"Total Count": gender_count,
                          "Percentage of Players": gender_percentage})
gender_demographics_df["Percentage of Players"] = gender_demographics_df["Percentage of Players"].map("{:.2f}%".format)
gender_demographics_df = gender_demographics_df.sort_values(["Total Count", "Percentage of Players"], ascending=False)
gender_demographics_df.index.name = None
gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [8]:
gender_grouped = purchase_data.groupby("Gender")
gender_grouped.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [9]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame
purchase_count = gender_grouped["Purchase ID"].count()
avg_purchase_price = gender_grouped["Price"].sum() / purchase_count
total_purchase_value = gender_grouped["Price"].sum()
ave_total_purchase_total_pp = total_purchase_value / gender_count
purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                      "Average Purchase Price": avg_purchase_price,
                                      "Total Purchase Value": total_purchase_value,
                                      "Avg Total Purchase per Person": ave_total_purchase_total_pp})
purchasing_analysis_df["Average Purchase Price"] = purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Purchase Value"] = purchasing_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_df["Avg Total Purchase per Person"] = purchasing_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)
purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [10]:
# Find out maximum and minimum ages
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

45
7

In [11]:
# Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29","30-34", "35-39", "40+"]
# Place the data series into a new column inside of the purchase_data DataFrame
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_labels, include_lowest=True) 
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [12]:
# Creating a GroupBy object based upon "Age Range"
grouped_age = purchase_data.groupby("Age Range")

# Find out how many rows fall into each bin
total_count = grouped_age["SN"].nunique()

# Calculate percentages by age group
percentage_of_players = round((total_count / total_players) * 100, 2).map("{:.2f}%".format)

In [13]:
# Create a summary data frame to hold the results
# Optional: round the percentage column to two decimal points
# Display Age Demographics Table
age_demographics_df = pd.DataFrame({"Total Count": total_count,
                                   "Percentage of Players": percentage_of_players})
age_demographics_df.index.name = None
age_demographics_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [20]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
purchase_count = grouped_age["Purchase ID"].count()
average_purchase_price = (grouped_age["Price"].sum() / purchase_count).map("${:.2f}".format)
total_purchase_value = grouped_age["Price"].sum()
average_total_purchase_pp = total_purchase_value / total_count

# Create a summary data frame to hold the results
purchasing_analysis_age_df = pd.DataFrame({"Purchase Count": purchase_count,
                                          "Average Purchase Price": average_purchase_price,
                                          "Total Purchase Value": total_purchase_value,
                                          "Avg Total Purchase per Person": average_total_purchase_pp})

# Optional: give the displayed data cleaner formatting
purchasing_analysis_age_df["Total Purchase Value"] = purchasing_analysis_age_df["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_age_df["Avg Total Purchase per Person"] = purchasing_analysis_age_df["Avg Total Purchase per Person"].map("${:.2f}".format)

# Display the summary data frame
purchasing_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19