In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
# Display portion of purchase_data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Display the total number of players
total_players = len(purchase_data["SN"].unique())
total_players_df = pd.DataFrame([{"Total Players": total_players}])
total_players_df

   Total Players
0            576

In [14]:
# Run basic calculations to obtain number of unique items, average price, etc.
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame
number_of_unique_items = len(purchase_data["Item ID"].unique())
total_revenue = purchase_data["Price"].sum()
number_of_purchses = len(purchase_data["Purchase ID"].unique())
average_price = (total_revenue / number_of_purchses)

purchasing_analysis_df = pd.DataFrame([{"Number of Unique Items": number_of_unique_items,
                                       "Average Price": average_price,
                                       "Number of Purchases": }])

AttributeError: 'numpy.float64' object has no attribute 'map'